<div id="<%= dom_id search_suggestion %>">
  <p>
    <strong>Term:</strong>
    <%= search_suggestion.term %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= search_suggestion.count %>
  </p>

</div>
